body {
    margin: 0px auto;
    background: #100F0D;
}



.mainContainer {
    display: flex;
    max-width: 1200px;
    margin: auto;
    background: url("../images/backgroundspace.png");
    height: 800px;
    justify-content: space-between;
}

.text-aboutus {
    padding-top: 50px;
    margin: 40px;

    font-family: 'Noto Sans Hebrew';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;

    color: #FFFFFF;
}

.image-aboutus {
    padding-top: 120px;
    margin: 40px;
    width: 445px;
    height: 250px;

}


