body {
    margin: auto;
    background: url("../images/backgroundspace.png")  center/cover no-repeat;
    max-width: 1200px;
}

.mainContainer {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    min-height: 500px;
}

.text-aboutus {
    padding-top: 50px;
    padding-right: 50px;
    font-size: 16px;
    text-align: justify;
    color: #FFFFFF;
}

.image-aboutus {
    align-self: center;
    width: 450px;
    height: 450px;

}


@media only screen and (max-width: 768px) {
    .mainContainer {
        flex-direction: column;
    }
}

@media only screen and (max-width: 568px) {
    .image-aboutus {
        width: 300px;
        height: 135px;
    }
}