html {
    font-size: 10px;
    font-family: 'Noto Sans Hebrew', serif;
    color:#FFFFFF;
    background: #101010;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;

}

a {
    text-decoration: none;
}

.header {
    margin: auto;
    max-width: 120rem;
    border-bottom: 1px solid #e2e8e2;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    background: rgba(16, 15, 13, 0.6);

}

.hamb {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: 0.3s;
    background-color: #FFFFFF;
}

.nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #FFFFFF;
    margin-right: 3rem;
}

.nav__link:hover {
    color: #482ff7;
}

.nav__link::last-child {
    margin-right: 0;
}


.headbtn {
    display: flex;
    padding-bottom: 15px;
    justify-content: right;

}

.btn {
    margin-right: 5px;
    cursor: pointer;
}


.logout-btn {
    background-color: #290e56;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
    margin: 0 25px 4px 2px;

}

.logout-btn:hover {
    background-color: #7134db;
}

.btn {
    color: white;
}

@media only screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        flex-direction: column;
        background-color: #101010;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(16, 15, 13, 0.6);
        left: -100%;
        top: 8rem;
    }

    .nav__menu.active {
        left: 0;
    }

    .nav__item {
        margin: 2.5rem 0;
    }

    .hamb {
        display: block;
        cursor: pointer;
    }

    .hamb.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamb.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamb.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .headbtn {
        padding: 0;
    }

    .logout-btn {
        margin-right: 60px;
    }
}
