.login {
    display: flex;
    margin-top: 65px;
    align-items: center;
    flex-direction: column;
    height: 350px;

}

.username {
    border: 1px solid #FFFFFF;
    background-color: inherit;
    color: #FFFFFF;

    width: 32rem;
    height: 46px;
    font-size: 16px;
    margin-bottom: 15px;
}

.password {
    border: 1px solid #FFFFFF;
    background-color: inherit;
    color: #FFFFFF;

    width: 32rem;
    height: 46px;
    font-size: 16px;
    margin-bottom: 15px;
}

.submit {
    border: 1px solid #FFFFFF;
    background-color: inherit;
    width: 12rem;
    height: 46px;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.text {
    font-weight: 800;
    font-size: 24px;
}

.register-link {
    margin-left: 100px;
    background-color: inherit;
    width: 6rem;
    height: 23px;
    font-size: 12px;
    line-height: 22px;
    color: #FFFFFF;
}