<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="../static/css/aboutus.css">
    <link rel="icon" type="image/png" href="../static/images/logo.png">
</head>
<body>
<div class="mainContainer">
<div class="header">
    <a onclick="window.location.href='main'">
        <img class="headlogo" src="../static/images/logo.png" alt="">
    </a>
    <button class="btn return" onclick="window.location.href='http://localhost:8081/returning'">RETURN</button>
    <button class="btn about" onclick="window.location.href='http://localhost:8081/aboutus'">ABOUT US</button>
    <button class="btn book" onclick="window.location.href='purchasing'">BOOK NOW</button>

    <a href="https://www.facebook.com/">
        <img class="btn fb" src="../static/images/FB.png" alt="">
    </a>

    <a href="https://www.instagram.com/valentin_bibik/">
        <img class="btn inst" src="../static/images/inst.png" alt="">
    </a>

    <a href="https://www.youtube.com/">
        <img class="btn yt" src="../static/images/YT.png" alt="">
    </a>

    <div class="text-aboutus">
        <p>
            Our space traveling company is dedicated to making space exploration and travel accessible to everyone. Our goal is to help humanity push the boundaries of what is possible in space and expand our understanding of the universe.
            We believe that space travel is critical to our evolution as a species, and we are committed to making it safe, affordable, and sustainable. To achieve this goal, we have developed a cutting-edge spacecraft that is capable of traveling to other planets and beyond. <br><br>

            Our spacecraft is equipped with state-of-the-art technology and equipment, including advanced life support systems, propulsion systems, and communication systems. We have also invested in research and development to ensure that our spacecraft is environmentally sustainable and can operate with minimal impact on the surrounding environment.
            <br><br>

            In addition to our spacecraft, we have assembled a team of experienced astronauts, scientists, and engineers who are passionate about space exploration. Our team is dedicated to ensuring the safety and success of every mission and to advancing the field of space exploration through groundbreaking research and innovation.
            <br><br>
            We believe that space travel should be accessible to everyone, and we are committed to making it a reality. Whether you are interested in scientific research, space tourism, or simply exploring the unknown, our company is here to help you achieve your dreams.

        </p>
    </div>

    <img class="image-aboutus" src="../static/images/aboutus.jpg" alt="">

</div>
</div>

<div class="footer">
    <img class="footlogo" src="../static/images/logo.png" alt="">
    <p class="text9">Space Travelling
        im. Galileo Galileja
        Wróblewskiego 69
        54-200 Wrocław</p>
    <p class="text10">Information: +48 577 182 162
        Call center: +48 456 321 875 <br>
        t-space.wro.pl</p>
    <p class="text11">Copyright c 2023 SpacePL</p>
    <button class="btn fb"><img src="../static/images/FB.png" alt=""></button>
    <button class="btn inst"><img src="../static/images/inst.png" alt=""></button>
    <button class="btn yt"><img src="../static/images/YT.png" alt=""></button>

</div>


</body>
</html>