<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
List of users

    <table>
        <thred>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th></th>
            </tr>
        </thred>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}"></td>
                <td>
                    <span th:each="role : ${user.roles}" th:text="${role}"></span>
                </td>
                <td><a th:href="@{/admin/{id}(id=${user.id})}">edit</a></td>
            </tr>
        </tbody>
    </table>


<div>
    <p>Current Income: <span th:text="${stats.current_income}"></span></p>
    <p>Number of Available Seats: <span th:text="${stats.number_of_available_seats}"></span></p>
    <p>Number of Purchased Tickets: <span th:text="${stats.number_of_purchased_tickets}"></span></p>
</div>

<table border="1">
    <thead>
    <tr>
        <th>Seat Row</th>
        <th>Seat Column</th>
        <th>Price</th>
        <th>Token</th>
    </tr>
    </thead>
    <tbody>
    <!-- Пример заполнения таблицы данными о сидениях и токенах -->
    <!-- Предполагается, что у вас есть соответствующие данные в модели -->
    <!-- Итерация по списку сидений и токенов -->
    <th:block th:each="seat, index : ${seat}">
        <tr>
            <td th:text="${seat.seat_row}"></td>
            <td th:text="${seat.seat_column}"></td>
            <td th:text="${seat.price}"></td>
            <td th:text="${token[index]}"></td>
        </tr>
    </th:block>

    </tbody>
</table>


</body>
</html>