<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="icon" type="image/png" href="../static/images/logo.png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../static/css/blog.css">
</head>
<body>
    <div id="header"></div>

    <div id="content" class="content">
        <img id="image" src="../static/images/sky-star.jpeg">
        <p id="text">As darkness fell, the firmament revealed its secrets, unveiling an awe-inspiring spectacle—a myriad of stars, scattered like ethereal dust, painting the heavens with their silent brilliance.</p>
    </div>

    <script>

        const contentInfo = [
            {
                image: '../static/images/space-nebula.jpeg',
                text: 'Space nebulae, vast clouds of dust and gases, are celestial tapestries adorned with vibrant hues.'
            },
            {
                image: '../static/images/blueandpurle.png',
                text: 'ТIn the cosmic expanse, amid clouds of blue and purple-hued ashes, stars emerge as celestial beacons.'
            },
        ];

        let currentIndex = 0;
        const imageElement = document.getElementById('image');
        const textElement = document.getElementById('text');

        // Функция для обновления контента
        function updateContent() {
            imageElement.style.opacity = '0';
            textElement.style.opacity = '0';

            setTimeout(() => {
                imageElement.src = contentInfo[currentIndex].image;
                textElement.textContent = contentInfo[currentIndex].text;

                imageElement.style.opacity = '1';
                textElement.style.opacity = '1';

                currentIndex = (currentIndex + 1) % contentInfo.length;
            }, 1000);
        }

        setInterval(updateContent, 10000);
    </script>

    <div class="text-new">
        <p>WHAT'S NEW?</p>
    </div>

    <div class="images-container">
        <div th:each="file : ${files}" class="image-wrapper">
            <img th:src="@{/img/{filename}(filename=${file})}" class="image-item"/>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../static/script/headerANDfooter.js"></script>
</body>
</html>