<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ERROR</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .html{background: #101010;} .text{ max-width:1200px; height: 350px; margin: auto; text-align: center; margin-top: 50px; font-size: 36px; }
    </style>
</head>
<body>
    <div id="header"></div>
    <h1 class="text">ERROR:</h1>
    <p class="text" th:text="${error}"></p>
    <div id="footer"></div>
    <script src="../static/script/headerANDfooter.js"></script>
</body>
</html>