<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpaceT</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/regular.css">
    <link rel="stylesheet" href="../static/css/bold.css">
    <link rel="stylesheet" href="../static/css/medium.css">
    <link rel="stylesheet" href="../static/css/semibold.css">
    <link rel="icon" type="image/png" href="../static/images/logo.png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="../static/script/email.js"></script>


</head>
<body>

<div class="container1">

    <div id="header"></div>

    <p class="text1 bold-text">Discover  New Experience By
        Exploring Space</p>
    <p class="text2 medium-text">We Are The First Company In The Word To Accept
        Tours To Space With Multiple Destinations In Them</p>
    <p class="text3 regular-text">Space travel is an adventure unlike any other, and it appeals to those who seek excitement and thrill. The idea of launching into space and experiencing the weightlessness of zero gravity is an exhilarating concept. Well, sit back and relax because we’ll give you a truly out of this world experience! </p>

</div>

<div class="container2">
    <p class="text4 bold-text">SUBSCRIBE TO OUR
        NEWSLETTER</p>

    <div class="subscribeForm" >
        <form id="subscribeForm" action="http://localhost:8081/subscribe" method="post">
            <input class="email" type="email" id="email" name="email" placeholder="E-mail"
                   onfocus="if(this.placeholder==='E-mail'){this.placeholder=''}"
                   onblur="if(this.placeholder===''){this.placeholder='E-mail'}">
            <button class="submit medium-text" type="submit">SUBSCRIBE</button>

        </form>
    </div>

    <div id="subscribeMessage" style="display: none; width: 300px; height: 46px; left: 700px; top: 35%; font-family: 'Noto Sans Hebrew', serif; font-size: 16px; color: #FFFFFF;">
        <p calss="regular-text">You have successfully subscribed!</p>
    </div>
</div>

<div class="container3">

    <div class="textbottom">
        <p class="text5 semibold-text">...Ready For It?</p>
        <p class="text6 medium-text">Discovering the Unknown: Space is the final frontier, and exploring it can provide a wealth of new knowledge and discoveries. Visiting other planets and moons can reveal geological and atmospheric phenomena that are unlike anything on Earth.</p>
        <p class="text7 medium-text">Seeing the Beauty of Space: There is no denying that space is breathtakingly beautiful. Traveling through the galaxy, seeing the stars up close, and looking back at the Earth from a distance can all be awe-inspiring experiences. The stunning views and natural phenomena of space can create unforgettable memories and provide a new perspective on our place in the universe.</p>
        <p class="text8 medium-text">Inspirational: Space travel has inspired countless people to dream big, pursue science and engineering careers, and push the limits of what is possible. By offering more people the chance to experience space travel, we can inspire a new generation of scientists, engineers, and explorers to continue pushing the boundaries of human knowledge and achievement.</p>
    </div>

</div>

<div id="footer"></div>

<script src="../static/script/headerANDfooter.js"></script>

</body>
</html>