<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Your ticket</title>
</head>
<body>
<h1>Successfully purchased!</h1>

<div id="ticket-details">
  <p>loading...</p>
</div>

<a href="/">Return to main</a>

<script>
  const urlParams = new URLSearchParams(window.location.search);
  const ticketId = urlParams.get('ticketId');

  async function loadTicketDetails() {
    try {
      const response = await fetch(`/tickets/${ticketId}`);
      if (response.ok) {
        const ticket = await response.json();
        const detailsContainer = document.getElementById('ticket-details');
        detailsContainer.innerHTML = `
          <p>Ticket number: ${ticket.id}</p>
          <p>Flight: ${ticket.flight.fromCity.name} - ${ticket.flight.toCity.name}</p>
          <p>Row: ${ticket.seat.row}, Seat: ${ticket.seat.seatNumber}</p>
          <p>Price: ${ticket.price} руб.</p>
          <p>Return Token: ${ticket.returnToken}</p>
        `;
      } else {
        throw new Error('Ticket not found');
      }
    } catch (error) {
      console.error('Error loading ticket:', error);
      document.getElementById('ticket-details').innerHTML = 'Failed to load ticket';
    }
  }

  loadTicketDetails();
</script>
</body>
</html>